	section{
	    background: #eee;
	}
    .parent{
    box-sizing: border-box;
    width:100%;
    border: 1px solid orange;
    }
    article{
        margin:2px;
        background:white;
         width:48%;
         display:block;
    }
    article.card{
        display:inline-block;
    }
    .vatop{
        vertical-align:top;
    }