/*header*/
header{
	display: flex;
	flex-direction: column;
	width: 100%;
}
.ste_infos{

}
.adresse{
	font-size: 1.3em;
	color: black;
}
svg{
	font-size: 30px;
	color: black;
}
.adr_title{
	color: #63b3f9;
}
.bandeau{
	display: flex;
	flex-direction: row;
	background: #63b3f9;
	padding:1.2em;
}
.div_banner{
	display: flex;
	flex-direction: row;
	width: 40%;
}
.img_logo{
	width: 80px;
}
.slogan{
	width: 100%;
	color: white;
	font-size: 1.3em;
	margin-top: 20px;
	font-family: "orbitron";
}
nav{
	display: flex;
	flex-direction: row;
	margin: auto;
}
ul{
	display: flex;
	flex-direction: row;
}
li{
	margin: 0 0 0 15px;
	list-style-type: none;
}
.a_head{
	background:#1053ef;
	color: white;
	margin: auto;
	padding: 1em;
}
a.a_head:hover{
	background: #193244;/*#fbad75;*/
	color: white;
}
@media (min-width:801px and max-width: 1281px) { 

}
@media (min-width:481px and max-width:801px) {

}
@media (min-width:320px and max-width:480px)) { 

}