    body{
        background:white;
    }
    .intro{
        line-height: 1.5em;
        font-size: 1.2rem;
        text-align: justify;
    }
    .box{
        background: #CCC;
    }
    .border {
        border: 2px solid red;
    }
    .box2{
        margin: 2%;
    }
    .box3{
        padding: 1% 2% 1% 2%;
    }
    .box4{
        padding: 1% 2% 1% 2%;
    }
    .box5{
         margin: 2%;
         padding: 1% 2% 1% 2%;
         width: 60%;
    }
    .box6{
        margin: 2%;
        padding: 1% 2% 1% 2%;
        width: 60%;
        box-sizing: border-box;
    }
