
   @font-face{
         font-family:"Courgette";
         src:url("Courgette-Regular.woff") format ("woff"),
          url("SourceSansPro-Regular.woff2") format ("woff2");
        }
        
    @font-face{
         font-family: "San Pro";
         src: url("SourceSansPro-Regular.woff2") format ("woff2"),
         url("SourceSansPro-Regular.woff") format ("woff");
    }
    
    *{
        font-family:"Courgette";
        color: #003884 ;
    }
    
    body{
        width: 980px;
        text-align: center;
        margin: auto;
        color: #003884 ;
    }
    
    img.img1{
        width :90px;
        text-align: center;
        margin: auto;
        display: block;
    }
    
    h1.titre{
        font-family: "Courgette";
        font-size: 40px;
        display: block;
        margin: auto;
        text-align: center;
        color: #003884;
    }
    
    img.img2{
        width :440px;
        text-align: center;
        margin: auto;
        display: block;
    }
    
    div.menu{
        font-family: "San Pro";
        display: block;
        width: 200px;
        margin-left: 20px;
        text-align: left;
        color: #003884;
    }
    
    a.a{
        text-decoration: none;
    }
    
    div.citation{
       font-family: "San Pro";
        color:  #003884;
        background: #d7e1ef;
        margin: auto;
        padding-top: 20px;
        width: 900px;
        height: 60px;
        text-align: center;
        font-size: 25px;
    }
    
    cite{
        font-family: "San Pro";
        text-align: right;
        display: block;
    }
    
    div.bloc1{
        width: 980px;
        margin: 0;
        color: #003884;
    }
    
    .bloc1 p{
        text-align: left;
        margin-right: 20px;
        padding-top: 10px;
        color: #003884;
    }
    
    h2.H2_1,  h2.H2_2,  h2.H2_3{
        
        text-align: center;
        margin: auto;
        margin-bottom:25px;
        font-size: 35px;
        color: #4f89b9;
    }
    
    h3.flag{
        color: #4f89b9;
        font-size: 25px;
        color: #003884;
    }
    
    img.img3{
        float: right;
    }
    
    div.bloc1_2{
        clear: both;
        text-align: left;
        color: #003884;
    }
    
    img.img4{
        float: left;
        margin-right: 15px;
    }
    
    div.stat{
        clear: both;
    }
    
    p.p1{
        text-align: left;
    }
    
    img.img5{
        float: right;
        margin-left: 15px;
    }
    
    img.img6{
        float: left;
        margin-right: 15px; 
    }
    
    /* Le pied de page */
    footer {
    	text-align: center;
    	background-color: #ddd;
    	border: 1px solid #555;
    }